.git* text export-ignore

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.py text whitespace=tab-in-indent,trail,space
*.cpp text whitespace=tab-in-indent,trail,space
*.hpp text whitespace=tab-in-indent,trail,space
*.cxx text whitespace=tab-in-indent,trail,space
*.hxx text whitespace=tab-in-indent,trail,space
*.mm text whitespace=tab-in-indent,trail,space
*.c text whitespace=tab-in-indent,trail,space
*.h text whitespace=tab-in-indent,trail,space
*.H text whitespace=tab-in-indent,trail,space
*.cu text whitespace=tab-in-indent,trail,space
*.java text whitespace=tab-in-indent,trail,space
*.md text
*.pro text whitespace=tab-in-indent,trail,space
*.cmake text whitespace=tab-in-indent,trail,space
*.cmakein text whitespace=tab-in-indent,trail,space
*.in text whitespace=tab-in-indent,trail,space
CMakeLists.txt text whitespace=tab-in-indent,trail,space

*.sh            eol=lf

# Declare files that will always have CRLF line endings on checkout.
# VS 20xx files
*.sln text eol=crlf
*.vcproj text eol=crlf merge=union
*.vcxproj text eol=crlf merge=union
*.vcxproj.filters text eol=crlf
# VC6 files
*.dsw text eol=crlf
*.dsp text eol=crlf
*.dsptemplate text eol=crlf
# Other 'windows-specific' files
*.bat text eol=crlf
*.bat.in text eol=crlf
*.cmd text eof=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.exr binary
*.ico binary

*.a binary
*.so binary
*.dll binary

*.pdf binary
*.pbxproj binary
*.vec binary
*.doc binary

*.S text

*.xml -text
*.yml -text
