[submodule "Tests/google-test"]
	path = Tests/google-test
	url = https://github.com/MrKepzie/google-test.git
[submodule "Tests/google-mock"]
	path = Tests/google-mock
	url = https://github.com/MrKepzie/google-mock
[submodule "libs/SequenceParsing"]
	path = libs/SequenceParsing
	url = https://github.com/MrKepzie/SequenceParsing
[submodules "libs/OpenFX"]
    url = https://github.com/devernay/openfx
	branch = multiplane2
