@import components/EditScriptDialog
DockablePanel
    #headerWidget
        background: $b17
        padding: 4px
        border-top: 1px solid $b13
        border-bottom: 1px solid $b13
        QLineEdit
            margin-left: 10px
            background: $b20
            border-color: $b13
            &::focus
                border-color: mix($base, $b18, 50%)
        QPushButton
            @include button
            background: none
            border-color: $b17
            &:hover
                background: $b20
    #horizContainer
        background: $b12
        #rightContainer
            background: none
            *
                background: $b19
            QAbstractSpinBox
                background: $b25
            QToolTip
                background: $b10
            QTabWidget            
                border: 1px solid
                background: $b18
                GroupBoxLabel
                QComboBox
                    @include qcombobox
                QTabBar
                    @include tabbar
                    &::tab 
                        &:selected
                            background: $b19
                QTextEdit
                    @include textedit
                QLabel
                    color: $c1
                QPushButton
                    @include button
                    border
                #dimensionSwitchButton
                    padding: 0
                ComboBox 
                    @include combobox
                    background: $b25
                ScaleSliderQWidget
                    background: none
                #treeKnob
                    @include treewidget($b22)
                    margin-right: 5px
                LineEdit
                    background: $b22
                    $expresion_color: #ffd342
                    $key_color: #008cff
                    $key_color_2: #95cfff
                    &[animation="0"] 
                        &[altered="false"]
                            color: $c2
                    &[animation="1"] 
                        background-color: mix($key_color_2, $b22, 5%)
                        border-color: mix($key_color_2, $b22, 40%)
                        color: $key_color_2
                    &[animation="2"] 
                        background-color: mix($key_color, $b22, 10%)
                        border-color: mix($key_color, $b22, 80%)
                        color: mix($key_color, white, 60%)
                    &[animation="3"] 
                        background-color: mix($expresion_color, $b22, 3%)
                        border-color: mix($expresion_color, $b22, 30%)
                        color: $expresion_color
                    &[dirty="true"] 
                ClickableLabel
                    font-size: 10px
                    &[dirty="false"]
                        color: mix($c1, $c0, 50%)   
                QTreeView
                    @include treewidget($b22)
                    QHeaderView
                        &::section 
                            background-color: $b25
                EditScriptDialog
                    @include EditScriptDialog