PreferencesPanel
    background: $b17
    #tree
        @include treewidget($b20)
    QSplitter
        &::handle
            &::horizontal, &::vertical
                background: none
    QFrame
        background: $b17
        QWidget 
            background: $b17
        ComboBox
            @include combobox
            background: $b22
        QLineEdit
            background: $b22
        QPushButton
            @include button
        #pluginsView, #shortcutsTree
            @include treewidget($b20)
    QPushButton
        @include button