<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>Natron</Name>
	<Version>_VERSION_</Version>
	<Title>Natron</Title>
	<Publisher>INRIA</Publisher>
	<StartMenuDir>Natron</StartMenuDir>
	<ProductUrl>http://www.natron.fr</ProductUrl>
	<RemoveTargetDir>true</RemoveTargetDir>
	<AllowSpaceInPath>true</AllowSpaceInPath>
	<UninstallerName>NatronSetup</UninstallerName>
	<InstallerWindowIcon>icon.png</InstallerWindowIcon>
        <RequiresAdminRights>true</RequiresAdminRights>
	<Logo>logo.png</Logo>
	<Watermark>watermark.png</Watermark>
	<TargetDir>@ApplicationsDir@/_APP_INSTALL_SUFFIX_</TargetDir>
	<RemoteRepositories>
		<Repository>
			<Url>_URL_/_OS_BRANCH_BIT_</Url>
			<Enabled>1</Enabled>
		</Repository>
	</RemoteRepositories>
</Installer>
