<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>flv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Flash Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vob</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vob.icns</string>
			<key>CFBundleTypeName</key>
			<string>VOB File (DVD Video)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ogg MPEG-4 Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>avi.icns</string>
			<key>CFBundleTypeName</key>
			<string>AVI container</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>moov</string>
				<string>qt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mov.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/quicktime</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Apple QuickTime container</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>divx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>DivX file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>DV file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>Advanced Streaming Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmv</string>
				<string>wm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>wmv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpeg</string>
				<string>mpeg1</string>
				<string>mpeg2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>multiplexed MPEG-1/2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-1 Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2p</string>
				<string>ps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-2 Program Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ts</string>
				<string>m2ts</string>
				<string>mts</string>
				<string>mt2s</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mp2t</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-2 Transport Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2v</string>
				<string>mpv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-2 Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mpeg4</string>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>m4v.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>3GPP File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mkv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Matroska Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mkv.icns</string>
			<key>CFBundleTypeName</key>
			<string>WebM Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vro</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>DVD Video Recording Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>JVC Everio Video Capture File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mks</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>generic.icns</string>
			<key>CFBundleTypeName</key>
			<string>Matroska Elementry Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/nsv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nullsoft Streaming Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nuv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>NuppleVideo File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Bino</string>
	<key>CFBundleGetInfoString</key>
	<string>@VERSION@</string>
	<key>CFBundleIconFile</key>
	<string>Bino.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.nongnu.bino</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bino</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
</dict>
</plist>
