[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Natron2
MimeType=application/vnd.natron.project;application/vnd.natron.nodepresets;application/vnd.natron.layout
Exec=Natron %U
GenericName=Compositing software
Comment=Node-graph based compositing software
Icon=Natron
Categories=Graphics;2DGraphics;RasterGraphics;

